form {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1.6rem;
  margin-bottom: 2rem
}

form * {
  padding: 5px;
  border-radius: 5px;
  font-size: 2rem;
}

form > button {
  font-size: 1.6rem;
  width: 16rem;
  grid-column: 2 / 3;
  margin-bottom: 2.4rem;
}

p.available {
  width: 160px;
  text-align: center;
  font-size: 2rem;
  border-bottom: 2px solid #3c4856;
}

section {
  text-align: center;
  font-weight: bold;
}